In [3]:
# Import the pandas module and alias it as 'pd'
import pandas as pd
from pathlib import Path

 # Read CSV File

In [4]:
csvpath = Path("./sales.csv")
sales_dataframe = pd.read_csv(csvpath)

 ## Type Checking

In [5]:
# Head check the first five line
sales_dataframe.head()

          FullName                   Email    Zip  SalePrice
0    Elwanda White      alyre2036@live.com   9236      84.33
1   Lyndon Elliott  arrowy1873@outlook.com   1330     879.95
2   Daisey Sellers  toucan2024@outlook.com   7631     907.58
3     Issac Reeves    asarin1958@gmail.com  81168     545.88
4  Bradford Kinney  mibound1801@yandex.com  41721     517.49

In [ ]:
# Check type of an element in list_of_numbers

In [ ]:
# Create a Series from the list

In [ ]:
# Check type of series_of_numbers

In [ ]:
# Print the Series

 # Series Attributes

In [ ]:
# Return the data type of the elements in the series

In [ ]:
# Return the element at index 0 using iloc

In [ ]:
# Return the element at index 0 using list syntax

 # Series Methods

In [ ]:
# Get the count of the number of times a value occurs in a Series

In [ ]:
# Get the unique values of a Series

In [ ]:
# A function to triple any value


# Apply triple value to series_of_numbers

 # Dictionary Example

In [ ]:
# A dictionary of stock values

In [ ]:
# Create series object from dictionary

 ## Datatype conversion

In [ ]:
# Return the data type of the elements in the series

In [ ]:
# Apply float to each item in the series

In [ ]:
# Return the data type of the elements in the series

 ## Different Methods to Access Values

In [ ]:
# Access value at index location 0 using iloc

# Access value at index location 0 using list syntax

# Access value at index MSFT

 ## Appending Data to Series

In [ ]:
# Create a new stock series for google stock. The dictionary is passed in directly.

In [ ]:
# Append the new data without reassignment

In [ ]:
# Append the new data with reassignment

 ## Removing Data from Series

In [ ]:
# Drop MSFT in-place

 ## Updating Series Data

In [ ]:
# Update using list syntax

In [ ]:
# Update using named index label

 ## Iterating Over Series

In [ ]:
# Print prices

In [ ]:
# Print symbol and price